*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* body {
    background: radial-gradient(circle at center, #3d1a78 0%, #000000 70%);
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
} */

.master{
    /* background-color: black; */
    background: radial-gradient(circle, rgba(110, 73, 184, 1) 0%, rgba(0, 0, 0, 1) 42%);
    /* background-attachment: fixed;  */
    min-height: 100vh;
    color: white;
}

.master h1{
    font-size: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 16px 45px;
}

nav img{
    width: 5%;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 500; 
}



.btn-design{
    width: 8%;
    background-color: blueviolet;
    color:white ;
    padding: 10px 17px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
}

.btn-design:hover{
    background-color: #D5E1E8;
    color: black;
}

.btn2{
    width: 20%;
    align-self: center;
    margin-right: 35%;
}

.btn2:hover{
    background-color: #3824C6;
    color: white;
}

.master h1{
    text-align: center;
    color: white;
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 600;
}

.main{
    display: flex;
    justify-content :center;
    align-items: center;
    /* padding-top: 30px; */
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    height: 32vh;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.main-text h3{
    margin-left: 47px;
}

.icons-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    /* align-items: start; */
}

.icons-row img{
    width: 6%;
    /* height: 5%; */
}

.main-form{
    width: 35%;
    padding-left: 90px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
}

form label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

form input, select{
    width: 65%;
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 25px;
}

