* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    /* border: 1px solid red; */
}

.master {
    background: radial-gradient(circle, rgba(110, 73, 184, 1) 0%, rgba(0, 0, 0, 1) 42%);
    min-height: 100vh;
    color: white;
}

.master h1 {
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 16px 45px;
}

nav img {
    width: 5%;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
} 

.menu-btn{
    display: none;
}



.btn-design {
    width: 8%;
    background-color: blueviolet;
    color: white;
    padding: 10px 17px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    border: 1px solid red;
}

.btn-design:hover {
    background-color: #D5E1E8;
    color: black;
}

.btn2 {
    width: 20%;
    align-self: center;
    margin-right: 35%;
}

.btn2:hover {
    background-color: #3824C6;
    color: white;
}

.master h1 {
    text-align: center;
    color: white;
    margin-top: 130px;
    margin-bottom: 50px;
    font-weight: 600;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28%;
    height: 30vh;
    font-size: 18px;
    font-weight: 400;
}


.icons-row {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 50px;
}


.icons-row a {
    width: 20%;
    /* display: inline-block; */
}

.icons-row a img {
    width: 40%;
}

.main-form {
    width: 35%;
    padding-left: 90px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
}

form label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

form input,
select {
    width: 65%;
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 25px;
}

form select option {
    background-color: black;
    color: white;
}

a {
    color: white;
}

.footer-part {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    padding-bottom: 65px;
}

.section1 {
    width: 25%;
}

.section1 p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.section1 img {
    width: 70%;
    margin-bottom: 20px;
}

.section1-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.section1-icons a {
    width: 7%;
    display: flex;
}

.section2 {
    width: 15%;
}

.section2-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
}

.btn3 {
    width: 45%;
    background-color: blueviolet;
    color: white;
    padding: 20px 27px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}

.section3 {
    width: 15%;
}

.section3-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
}

.section4 {
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: 700;
    /* justify-content: space-between */
}

.section4-content1,
.section4-content2,
.section4-content3,
.section4-content4 {
    display: flex;
    margin-bottom: 20px;
}

.section4-content1 img,
.section4-content2 img,
.section4-content3 img,
.section4-content4 img {
    margin-right: 15px;
}

.below-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-weight: 600;
    border-top: 1px solid white;
}

.section2 p:hover,
.section3 p:hover,
.section4-content1 p:hover,
.section4-content2 a:hover,
.section4-content3 a:hover
{
    color: #541296;
}


@media (max-width:1690px){
    .btn-design{
        width: 10%;
    }
    .btn3{
        width: 50%;
    }
}

@media (max-width:1460px){
    .btn-design{
        width: 12%;
    }
    .btn3{
        width: 55%;
    }
}

@media (max-width:1377px) {
    .section3{
        width: 20%;
    }
} 

@media (max-width:1360px){
    .btn-design{
        /* width: 20%; */
        padding: 0 5px;
    }
    .btn3{
        padding: 15px 0;
    }
}

@media (max-width:1343px){
    .main-text{
        width: 35%;
    }
    .main-form{
        width: 40%;
    }
}

@media (max-width:1279px) {
    .section4{
        width: 30%;
    }
    .footer-part{
        padding: 0 12px;
    }
} 
    
@media (max-width:1200px){
    .btn-design{
        width: 13%;
    }
    .btn3{
        width: 60%;
    }
}

@media (max-width:1150px){
    nav ul{
        width: 45%;
    }
}

@media (max-width:1076px){
    .btn-design{
        padding: 5px;
    }
    .btn-design{
        padding: 10px;
    }
    .main-text{
        width: 40%;
    }
    .main-form{
        width: 45%;
    }
}

@media (max-width:1067px) {
    .section4{
        width: 35%;
    }
    .footer-part{
        padding: 0px 15px;
    }
} 

@media (max-width:1053px) {
    .section2{
        width: 15%;
    }
    .footer-part{
        padding: 0 15px;
    }
} 

@media (max-width:1040px) {
    .footer-part{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .section1,.section2,.section3,.section4{
        width: 50%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-top: 20px;
        padding: 0 100px;
    }
} 

@media (max-width:1020px){
    .btn-design{
        width: 15%;
    }
    .btn3{
        width: 50%;
    }
    nav ul{
        width: 50%;
    }
}

@media (max-width:942px){
    .main-text{
        width: 45%;
    }
    .main-form{
        width: 45%;
    }
    form input, select{
        width: 90%;
    }
}

@media (max-width:918px){
    nav ul{
        width: 55%;
    }
}

@media (max-width:850px){
    nav ul{
        width: 60%;
    }
}

@media (max-width:838px){
   .main{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }

   .main-text{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        padding: 0 20px;
   }

   .main-form{
        height: auto;
        width: 100%;
        padding: 0 20px;
   }

   form input, select{
        width: 100%;
   }

   .icons-row{  
        width: 70%;
        display: flex;
        align-items: center;
        margin: 0;
   }

   .icons-row a img{
        width: 40%;
        margin-top: 10px;
   }
}

@media (max-width:815px){
    .btn-design{
        width: 18%;
        padding: 5px;
    }
}

@media (max-width:780px){
    nav ul{
        width: 65%;
    }
}

@media (max-width:726px){
    .btn-design{
        width: 22%;
    }
}

@media (max-width:734px){
    nav ul, .btn-design{
        display: none;
    }

    .menu-btn{
        display: block;
    }

    nav img{
        width: 8%;
    }
    
}
